<!-- footer -->
<div class="row">
  <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">

    <footer>
      <div class="small-11 small-centered medium-8 medium-centered large-7 large-centered column clearfix">
        <div class="text-right small-6 columns">
          <a href="{{ site.author.website }}" target="_blank">{{ site.author.fullname }}</a>&nbsp;
        </div>
        <div class="text-left small-6 columns">
          © 2014
        </div>
      </div>
    </footer>

  </div>
</div>

