<!-- footer -->
<div class="row">
  <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">

    <footer class="clearfix">
      <div class="text-left small-8 columns">
        <a href="{{ site.author.website }}" target="_blank">{{ site.author.fullname }}</a> © 2014 •
        See <a href="{{ site.license }}" target="_blank">license</a>
      </div>
      <div class="text-right small-4 columns">
        <a href="mailto:j+st@kingori.co?Subject=Hey%20There...">Contact &amp; feedback</a>
      </div>
    </footer>

  </div>
</div>

