<!-- header -->
<div class="row">
  <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">

    <header class="clearfix">
      <div class="row">
        <div class="text-left small-12 medium-10 large-10 columns">
          <a href="{{ site.baseurl }}/" id="title">KING'ORI'S BIBLE STUDY</a>
        </div>
        <div class="text-right hide-for-small-only medium-2 large-2 columns">
          <a href="{{ site.author.website }}" target="_blank" id="logo">
            <img src="{{ site.baseurl }}/assets/images/logo-transparent-border-48@2x.png" height="48" width="48">
          </a>
        </div>
      </div>
    </header>

  </div>
</div>
