<head>
  <!-- +++ META +++ -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- +++ PAGE INFO +++ -->
  <title>{{ page.title }} • {{ site.short-title }}</title>

  <!-- +++ FAVICON & ICONS: combined 16, 32 & 48 +++ -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">

  <!-- +++ STYLESHEETS +++ -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/application.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/base.css">
  <link rel="stylesheet/less" href="{{ site.baseurl }}/assets/stylesheets/styles.less">

  <!-- +++ JAVASCRIPTS +++ -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/vendor/turbolinks.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/application.js"></script>

  <!-- +++ METADATA +++ -->
  <meta content="{{ page.title | xml_escape }} • {{ site.short-title | xml_escape }}" property="og:title" />
  <meta content="{{ site.full-title | xml_escape }}" property="og:site_name" />
  {% if page.description %}
  <meta content="{{ page.description | xml_escape }}" name="description" />
  <meta content="{{ page.description | xml_escape }}" property="og:description" />
  {% endif %}
</head>
