<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">
        <div class="text-left small-8 columns">
          <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
        </div>
        <div class="text-right small-4 columns">
          <div class="back-nav"><em><a href="{{ site.baseurl }}{{ page.sectionlink }}">Back ↑</a></em></div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="small-11 small-centered medium-10 medium-centered large-9 large-centered column clearfix">
        <section id="study" class="content">
        {{ content }}
        </section>
      </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

    {% include google-analytics.html %}
  </body>
</html>
